body {
	background: url("wallpaper.jpg");
}
.write {
	text-align: center;
}
.index_write_note {
	font-family: arial;
}

.edit {
	display: none;
	position: absolute;
	bottom: 5px;
	left: 5px;
	padding: 5px;
	border-radius: 2px;
	text-decoration: none;
	color: black;
	background-color: white;
}

.delete {
	display: none;
	position: absolute;
	bottom: 5px;
	left: 5%;
}

.note {
	position: relative;
	padding: 0 5px 30px 5px;
	border-radius: 5px;
	background-color: rgba(1, 1, 1, 0.2);
	margin: 0 auto;
	width: 70%;
	text-align: justify;

}

.note:hover .edit  {
	display: block;

}
.note:hover .delete  {
	display: block;

}

.note_title{

}

.note_content {
	font-size: 20px;
	padding: 10px;
}
.date {
	position: absolute;
	right: 2%;
	bottom: 0;
	font-weight: bold;
}

.logout {
	position: absolute;
	top: 5px;
	right: 5px;
}

.edit_note {
	text-align: center;
}

.edit_note_content {
	resize: none;
	font-size: 20px;
	font-family: arial;
	background-color: beige;
	border-radius: 5px;
	padding: 10px;
	margin: 0 auto;
	width: 80%;
}
.input_edit {
	font-weight: bold;
}
