body {
	margin: 0;
	background: url("../images/wallpaper.jpg");
	background-size: cover;
	background-repeat: no-repeat;


}
h1{
	color: black;


}
#signup-form{
	position: absolute;
	bottom: 0;
	left: 200px;
	text-align: center;
	background-color: rgb(1,1,1,0);
	border-radius: 10px;
	font-family: Open Sans Condensed;
}

#signup-form input{

	margin-bottom: 10px;
	font-size: 20px;
	border:none;
	border-radius: 5px;
	padding: 10px;
	font-family: Open Sans Condensed;
	width: 300px;
	outline: none;
	

}
#signup-form button {
	
	position: relative;
	right: 0;
	top: 0;
	border:none;
	background-color: white;
	color: black;
	padding: 0 20px 0 20px;
	border-radius: 10px;
	margin-bottom: 5px;
	border: 1px solid black;
	font-family: Open Sans Condensed;
	font-size: 20px;

}
small{
	position: absolute;
	width: 100%;
	margin: 15px 0 0 10px;
	text-align: left;
	font-size: 15px;


}
#image-ok{
	position: absolute;
	left: -40px;
	bottom: -18px;
	width: 20px;

}
#image-ok-email{
	position: absolute;
	left: -40px;
	bottom: -20px;
	width: 20px;
}

#message-username{
	color: red;
}
#message-email{
	color: red;
}

@media only screen and (max-width: 980px){ /*I choose 980 here because less then this the 
	background repeats itself...*/
	body {
		margin: 0;
		background: url("../images/wallpaper.jpg");
		
	}
	h1{
		color: white;
	}
	#signup-form{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		text-align: center;
		background-color: rgb(1,1,1,);
		border-radius: 10px;
		font-family: Open Sans Condensed;
	}

	#signup-form input{

		margin-bottom: 30px;
		font-size: 20px;
		border:none;
		border-radius: 5px;
		padding: 10px;
		font-family: Open Sans Condensed;
		width: 250px;
	

	}
	#signup-form button {
		
		position: relative;
		right: 0;
		top: 0;
		border:none;
		background-color: white;
		color: black;
		padding: 10px 20px 10px 20px;
		border-radius: 10px;
		margin-bottom: 5px;
		border: 1px solid black;
		font-family: Open Sans Condensed;
		font-size: 30px;

	}

	#message-username{
		position: relative;
		bottom: -35px;
		left: -290px;
		font-weight: bold;
	}


	#message-email{
		position: relative;
		bottom: -35px;
		left: -290px;
		font-weight: bold;
	}
}