body {
	margin: 0;
}
nav{
	background-color: transparent;
	padding-bottom: 75px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	transition: background-color .4s;
}

.logo-nav{
	position: relative;
	top: 0px;
	left: 10px;
	
}
.nav-img{
	position: absolute;
	left:10px;
	top: 15px;
	width: 50px;
	
}
.sidebar-icon{
	display: none;
}
.sidebar{
	display: none;
}
#welcome-header {
	position: absolute;
	top: 0;
	left: 60px;
	color: black;
	font-family: Kaushan Script;
	font-size: 50px;
	display: inline-block;
	margin: 0;
	padding: 0;
	transition: color .7s;
	
	
	
}

nav ul{
	position: absolute;
	margin: 0;
	top: 20%;
	right: 0;
		
}
nav ul li{
	display: inline-block;
	padding: 0 30px 0 30px;	

}


.item-nav{
	color: black;
	text-decoration: none;
	font-size: 30px;
	font-family: Rajdhani;
	transition: color .7s;

}
.item-nav:hover{
	color: black;
	text-decoration: underline black;
}

.home{
	text-decoration: underline #9BC1BC;
	
}
.signup{
	padding: 10px;
	background-color: #9BC1BC;
	border-radius: 5px;
	color: white;
}
.signup:hover{
	color: white;
	text-decoration: none;
	
}
#logo {
	width: 90px;
}


.blur{ /*This is how you make a video header looks even cooler!*/
	position: relative;
	right:0;
	bottom: 0;
	width: 100%;
	height: 750px;
	z-index:1;
	background-image: url('../images/93591.jpg');
	background-size: cover;
	background-position:top;
	display: grid;
	grid-template-columns: 50% auto;
	

}
.header-left{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	
}
.header-right{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.welcome {
	width: 90%;
	height: 50%;
}

#welcome-text{
	font-family: Ubuntu;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color: black;
}


#signin-form{
	text-align: center;
	border-radius: 10px;
	margin: 0 auto;
	width: 70%;
	height: 50%;
	padding: 60px 0 0 0;
	background-color: rgba(15, 15, 15, 0.9);
}
#signin-form input{
	width: 90%;
	margin-bottom: 10px;
	font-size: 20px;
	border:none;
	border-radius: 5px;
	padding: 10px;
	
}
#signin-form button {
	border:none;
	background-color: white;
	color: black;
	width: 40%;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	font-size: 30px;

}
#text-signup{
	text-align: center;
	margin: 20px;
	color: white;
}
#text-signup a {
	color: white;
	text-decoration: underline white;
}

.container{
	margin: 0 auto;
	width: 100%;

}

.main{
	margin: 0 auto;
	width: 100%;

}
.container .row{
	margin: 5% 0 5% 0;
}
.main .row{
	margin: 200px 0 200px 0;
}
.main .row img{
	width: 100%;
}
.main h1{
	margin-bottom: 80px;
}
.main p{
	font-size: 25px;
}
.container2{
	background-color: rgba(155, 193, 188, 0.74);
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
}
.container2 .col-md-6 img{
	width: 150px;
	margin-bottom: 30px;

}
footer{
	background-color: black;
	color: white;
}
footer ul li{

	list-style-type: none;
}
footer ul li a {
	text-decoration: none;
	color: white;
}
footer ul li a:hover{
	color: white;
}
footer .trademark{
	margin: 0;
	text-align: center;
	position: relative;
	bottom: 0;
}

/*SIGN UP*/
#signup-form{
	text-align: center;
	padding: 10px 0 30px 0;
	background-color: rgba(1,1,1,0.2);
	border-radius: 10px;
	margin: 0 auto;
	width: 50%;
}

#signup-form input{
	margin-bottom: 10px;
	font-size: 20px;
	border:none;
	border-radius: 5px;
	padding: 10px;

}
#signup-form button {
	border:none;
	background-color: white;
	color: black;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;

}

#background-video { /*This is how you set the video to take all the screen! Use this in the future*/
	display: none;
	/*position: relative;
    left: 0;
    top: 0;
    width: 100%;
    
    z-index: -2;*/
}


@media  (max-width: 700px) {
	body {
		margin: 0;
	}
	
	nav {
		background-color: white;
		border-bottom: solid 1px gray;
	}
	.sidebar-icon{
		display: block;
		width: 40px;
		position: absolute;
		right: 20px;
		top: 20px;
	}
	.sidebar{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		z-index: 3;
		background-color: rgb(31, 30, 30);
		align-items: center;

	}
	.sidebar ul{
		width: 100%;
		list-style: none;
		text-align: center;
		padding: 0;
		
	}
	.sidebar ul li{
		position: relative;
		width: 100%;
		padding: 10px;
		background-color: white;
		border: solid 1px black;
	}
	.sidebar ul li a{
		font-size: 50px;
		
	}
	.close{
		position: absolute;
		top: 0;
		right: 10px;
		font-size: 70px;
		color: white;
	}
	nav ul{
		display: none;
	}
	
	#welcome-header{
		color: black;
	}
	#welcome-text{
		font-size: 30px;
		color: black;
		margin: 70px 0;
	}
	#background-video {
		display: none;
	}
	.blur{
		display: block;
		padding: 70px 0 0 0;
	}
	
	.welcome {
		width: 100%;	
	
	}
	

	#signin-form{
		position: relative;
		margin: 20px auto;
		width: 90%;
		border-radius: 5px;
		background-color: rgba(1,1,1,0.7);

	}
	#signin-form a{
		color: white;
		text-decoration: underline white;
	}
	#signin-form h1 {
		margin: 0 0 20px 0;
	}
	#signin-form input{
		font-size: 20px;
		border:none;
		border-radius: 5px;
		padding: 10px;
		width: 95%;
		
	}
	#signin-form button {
		border:none;
		background-color: white;
		color: black;
		padding: 10px;
		border-radius: 10px;
		margin-top: 10px;

	}

	#signup-form{
		width: 100%;
		background-color: rgba(1,1,1,0.2);
		border-radius: 10px;
	}
	
	#signup-form h1 {
		margin: 0 0 20px 0;
	}
	#signup-form input{
		font-size: 20px;
		border:none;
		border-radius: 5px;
		padding: 10px;

	}
	#signup-form button {
		border:none;
		background-color: white;
		color: black;
		padding: 10px;
		border-radius: 10px;
		margin-top: 10px;

	}
	#text-signup {
		text-align: center;
		margin-right: 0;
	}
	.main h1{
		margin: 40px 0 40px 0;
	}
	.col-md-6{
		text-align: center;
	}
	.col-md-6 p{
		text-align: left;
	}
	.container2 {
		width: 95%;
		background-color: rgba(1,1,1,0.7);
		color: white;
	}
}
