body {
	margin: 0;
}
nav{
	background-color: transparent;
	padding-bottom: 75px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	transition: background-color .7s;


}


.logo-nav{
	position: relative;
	top: 0px;
	left: 10px;
	background-color: red;
	
}
.nav-img{
	position: absolute;
	left:10px;
	top: 15px;
	width: 50px;
	
}
#welcome-header {
	position: absolute;
	top 0;
	left: 60px;
	color: white;
	font-family: Kaushan Script;
	font-size: 50px;
	display: inline-block;
	margin: 0;
	padding: 0;
	transition: color .7s;
	
	
	
}

nav ul{
	position: absolute;
	margin: 0;
	top: 20%;
	right: 0;
		
}
nav ul li{
	display: inline-block;
	padding: 0 30px 0 30px;	

}
nav ul li a:hover{
	text-decoration: red;
}

.item-nav{
	color: white;
	text-decoration: none;
	font-size: 30px;
	font-family: Ubuntu;
	transition: color .7s;

}
.item-nav:hover{
	color: white;
	text-decoration: underline white;
}
#signin-form{
	text-align: center;
	background-color: rgba(1,1,1,0.2);
	border-radius: 10px;
	margin: 12% 8% auto;
	width: 30%;
	margin-bottom: 300px;
	padding: 10px 0 30px 0;
	color: white;
}
#signin-form input{
	margin-bottom: 10px;
	font-size: 20px;
	border:none;
	border-radius: 5px;
	padding: 10px;

}
#signin-form button {
	border:none;
	background-color: white;
	color: black;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;

}
#text-signup{
	text-align: center;
	margin-bottom: 0;
}
#text-signup a {
	color: black;
}
.welcome {
	position: absolute;
	top: 20%;
	margin: 0% 50% auto;
	width: 40%;
	color: white;
	text-align: center;
	animation-name: animation;
	animation-duration: 1.5s;

}

@keyframes animation{
	from{
		position: absolute;
		top: -200px;
		}
	to{
		position: absolute;
		top: 20%;
	}
	
}
#logo {
	width: 90px;

}

#welcome-text{
	font-family: Cardo;
	font-size: 30px;
	text-align: center;
}
.container{
	margin: 0 auto;

}

.main{
	margin: 0 auto;
	width: 90%;

}
.container .row{
	margin: 5% 0 5% 0;
}
.main .row{
	margin: 200px 0 200px 0;
}
.main .row img{
	width: 80%;
}
.main h1{
	margin-bottom: 80px;
}
.main p{
	font-size: 25px;
}
.container2{
	background-color: #E8EDDF;
	margin-bottom: 20px;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
}
.container2 .col-md-6 img{
	width: 150px;
	margin-bottom: 30px;

}
footer{
	background-color: black;
	color: white;
}
footer ul li{

	list-style-type: none;
}
footer ul li a {
	text-decoration: none;
	color: white;
}
footer ul li a:hover{
	color: white;
}
footer .trademark{
	margin: 0;
	text-align: center;
	position: relative;
	bottom: 0;
}

/*SIGN UP*/
#signup-form{
	text-align: center;
	padding: 10px 0 30px 0;
	background-color: rgba(1,1,1,0.2);
	border-radius: 10px;
	margin: 0 auto;
	width: 50%;
}

#signup-form input{
	margin-bottom: 10px;
	font-size: 20px;
	border:none;
	border-radius: 5px;
	padding: 10px;

}
#signup-form button {
	border:none;
	background-color: white;
	color: black;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;

}

#background-video { /*This is how you set the video to take all the screen! Use this in the future*/
	position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -2;
}

.blur{ /*This is how you make a video header looks even cooler!*/
	position: absolute;
	right:0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index:-1;
	background-color: rgba(1,1,1,0.4);
}
@media only screen and (min-width: 601px){
	#signin-form input {
		width: 70%;
	}

}

@media only screen and (max-width: 600px) {
	body {
		margin: 0;
		background-color: #393E41;


	}
	#background-video {
		display: none;
	}
	#signin-form{
		position: absolute;
		top: 550px;
		width: 100%;
		background-color: rgba(1,1,1,0.2);
		margin-bottom: 100px;
		margin: 0;
		border-radius: 0;

		
	}
	#signin-form h1 {
		margin: 0 0 20px 0;
	}
	#signin-form input{
		font-size: 20px;
		border:none;
		border-radius: 5px;
		padding: 10px;
		

	}
	#signin-form button {
		border:none;
		background-color: white;
		color: black;
		padding: 10px;
		border-radius: 10px;
		margin-top: 10px;

	}

	.welcome {
	position: absolute;
	top: 0px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	animation-name: none;
	color: white;
	margin-top: 20px;


}


	#signup-form{
		width: 100%;
		background-color: rgba(1,1,1,0.2);
		border-radius: 10px;
	}
	#signup-form h1 {
		margin: 0 0 20px 0;
	}
	#signup-form input{
		font-size: 20px;
		border:none;
		border-radius: 5px;
		padding: 10px;

	}
	#signup-form button {
		border:none;
		background-color: white;
		color: black;
		padding: 10px;
		border-radius: 10px;
		margin-top: 10px;

	}
	#text-signup {
		text-align: center;
		margin-right: 0;
	}
}
